body {
	font-family: Arial, sans-serif;
	margin: 20px;
	background-color: #2f2f33;
	width: 450px;
	height: 300px;
	overflow: hidden;
}

h1 {
	color: #ffffff;
	transition: opacity 0.3s ease-in-out;
}

input[type="text"] {
	width: 90%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #535252;
	border-radius: 4px;
	transition: all 0.3s ease-in-out;
}

button {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: background-color 0.3s ease-in-out;
}

button:hover {
	background-color: #45a049;
}

pre {
	width: 90%;
	background-color: #fff;
	padding: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
	white-space: pre-wrap;
	transition: opacity 0.3s ease-in-out;
	opacity: 0;
}

#content {
	transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
	transform: scale(1);
	opacity: 1;
}

.hidden {
	opacity: 0;
	transform: scale(0.95);
}

#copy-message {
	color: green;
	transition: opacity 0.5s ease-in-out;
	opacity: 0;
}

.copy-visible {
	opacity: 1;
}

/* Spinner CSS */
.spinner {
	border: 16px solid #f3f3f3;
	border-top: 16px solid #3498db;
	border-radius: 50%;
	width: 120px;
	height: 120px;
	animation: spin 1s linear infinite, fadeIn 0.5s ease-in-out;
	margin: auto;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

#loading-spinner {
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 100%;
	height: 100%;
	background-color: #2f2f33;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s ease-in-out;
}

#loading-spinner.visible {
	opacity: 1;
	visibility: visible;
}
